@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/theme.css';
@import './styles/brand-colors.css';
@import './styles/fonts.css';

:root {
  --brand-blue: #026EC4;
  --brand-cyan: #0ECEEO;
}
